body {
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: #ECF0F1;
}

html, body {
    margin: 0;
    padding: 0;
}

.centered {
    margin: 0 auto;
    text-align: left;
    width: 800px;
}

.header{
    background-color: #ECF0F1;
    color: #34495e;
    font-family: 'Quicksand', sans-serif;
    font-size: 200%;
    text-align: center;
}

.headerMain{
    background-color: #ECF0F1;
    color: red;
    font-family: 'Quicksand', sans-serif;
    font-size: 200%;
    text-align: center;
}

.navbarr{
    position: fixed;
    top: 10px;
}

li {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 2%;
    padding-left:20%;
    padding-right: 20%;
    text-align: justify;
    background-color: #ECF0F1;
    
} 

ul:after {
    content: '';
    display: inline-block;
    width: 100%;
}

ul li {
    display: inline-block;
}

/* unvisited link */
a:link {
    color: #19B5FE;
    text-decoration: none;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

/* visited link */
a:visited {
    color: #19B5FE;
    text-decoration: none;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

/* mouse over link */
a:hover {
    color: #89C4F4;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

.title{
    color: #19B5FE;
}

.text{
    margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 120%;
    color: #2c3e50;
    line-height: 2;
    text-align: center;
    text-align: justify;
    background-color: #ecf0f1;
}

.text2{
     margin-top: 4%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 120%;
    color: #2c3e50;
    line-height: 2;
    background-color: #ecf0f1;
}

